{:linters {:unresolved-symbol {:exclude [(babashka.process/$)]}}
 :lint-as {defthing.core/defthing          clojure.core/def
           defthing.core-test/defworkspace clojure.core/def
           defthing.core-test/defsomething clojure.core/def}
 ;; :hooks
 ;; {:analyze-call
 ;;  {clawe.defs.workspaces/defworkspace
 ;;   hooks.defworkspace/defworkspace}}
 }
